header h1{
background-color: red;
}

#four-values {
  border: solid rgb(247, 8, 0);
  border-radius: 20px 30px;
  height: 40px;
  width: 60px;
  border-width: 30px;
  border-width: thin medium thick 1em;
  text-align: center;
  text-aligntop: 30%;;
}

#four-values h1{
    text-align: center;
}

#four-values:hover {
    background-color: pink;
}

body{
    background-colorcolor: springgreen;;
}

html{
    background-color: rgb(70, 207, 245);
    text-align: center;
    position: relative;
    center
}

html h1{
    background-color: white;
    text-align: center;
    color: rgb(28, 12, 174);
    border-radius: 120PX;

}

html h3{
    text-align: center;
}

html