p {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  text-shadow: 0.07em 0.07em 0.05em black;
  background-image: none;
  background-color: transparent;
}


img{
  width: 60%;
  height:10%;
  background-repeat: no-repeat;
  background-image: url(images/2.png);
  /* background-image: url(images/3.png); */
}


img:hover {
background-image: url(images/3.png);
}
